<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Baseball API</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
      <div class="container">
        <a href="/" class="navbar-brand">Baseball API</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link text-light">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              href="#"
              class="nav-link text-light dropdown-toggle"
              data-toggle="dropdown"
              >Hitters</a
            >
            <div class="dropdown-menu">
              <a href="/api/batting" class="dropdown-item"
                >All Hitting Stats 2014-2018</a
              >
              <a href="/api/batting/2014" class="dropdown-item">2014</a>
              <a href="/api/batting/2015" class="dropdown-item">2015</a>
              <a href="/api/batting/2016" class="dropdown-item">2016</a>
              <a href="/api/batting/2017" class="dropdown-item">2017</a>
              <a href="/api/batting/2018" class="dropdown-item">2018</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              href="#"
              class="nav-link text-light dropdown-toggle"
              data-toggle="dropdown"
              >Pitchers</a
            >
            <div class="dropdown-menu">
              <a href="/api/pitching/pitchers" class="dropdown-item"
                >All Pitching Stats 2014-2018</a
              >
              <a href="/api/pitching/pitchers/2014" class="dropdown-item"
                >2014</a
              >
              <a href="/api/pitching/pitchers/2015" class="dropdown-item"
                >2015</a
              >
              <a href="/api/pitching/pitchers/2016" class="dropdown-item"
                >2016</a
              >
              <a href="/api/pitching/pitchers/2017" class="dropdown-item"
                >2017</a
              >
              <a href="/api/pitching/pitchers/2018" class="dropdown-item"
                >2018</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              href="#"
              class="nav-link text-light dropdown-toggle"
              data-toggle="dropdown"
              >Starters</a
            >
            <div class="dropdown-menu">
              <a href="/api/pitching/starters" class="dropdown-item"
                >All Starting Stats 2014-2018</a
              >
              <a href="/api/pitching/starters/2014" class="dropdown-item"
                >2014</a
              >
              <a href="/api/pitching/starters/2015" class="dropdown-item"
                >2015</a
              >
              <a href="/api/pitching/starters/2016" class="dropdown-item"
                >2016</a
              >
              <a href="/api/pitching/starters/2017" class="dropdown-item"
                >2017</a
              >
              <a href="/api/pitching/starters/2018" class="dropdown-item"
                >2018</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              href="#"
              class="nav-link text-light dropdown-toggle"
              data-toggle="dropdown"
              >Relievers</a
            >
            <div class="dropdown-menu">
              <a href="/api/pitching/relievers" class="dropdown-item"
                >All Relieving Stats 2014-2018</a
              >
              <a href="/api/pitching/relievers/2014" class="dropdown-item"
                >2014</a
              >
              <a href="/api/pitching/relievers/2015" class="dropdown-item"
                >2015</a
              >
              <a href="/api/pitching/relievers/2016" class="dropdown-item"
                >2016</a
              >
              <a href="/api/pitching/relievers/2017" class="dropdown-item"
                >2017</a
              >
              <a href="/api/pitching/relievers/2018" class="dropdown-item"
                >2018</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/glossary">Glossary</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
