<% include ./partials/header %>

<div class="container">
  <h1 class="display-4 text-center mb-2">
    BaseballAPI Usage
  </h1>
  <p class="text-center mb-1">All information is in JSON format.</p>
  <p class="text-center mb-3">
    The Github link for this project is
    <a href="https://github.com/darlose04/Baseball-API">here</a>.
  </p>
  <div class="mb-3 p-3 border rounded-lg border-danger">
    <h4>Notes</h4>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        All stats were downloaded from
        <a href="https://www.fangraphs.com/">Fangraphs</a> via custom made CSV
        tables.
      </li>
      <li class="list-group-item">
        If a player has '- - -' in place of a team name, it means that player
        was traded at some point during the season. As of now, I don't have a
        way to clarify which teams the player was on and how the player did with
        said teams. It only accounts for season long stats.
      </li>
      <li class="list-group-item">
        Currently, I am only using stats from 5 seasons, 2014 through 2018. I
        plan on including more seasons as well as more comprehensive statistics.
        I also plan on including team stats as a whole, as well as divisional
        standings.
      </li>
      <li class="list-group-item">
        These stats are also based on several qualifying factors:
        <ul>
          <li>For hitters, a minimum of 100 at bats</li>
          <li>For starters, a minimum of 50 innings pitched</li>
          <li>For relievers, a minimum of 20 innings pitched</li>
          <li>
            For the pitcher routes that include both starters and relievers, a
            minimum of 30 innings pitched
          </li>
        </ul>
        These qualifications were made in an attempt to also capture the
        statistics of players who may have had less playing time as a result of
        moving between AAA and MLB.
      </li>
      <li class="list-group-item">
        When retrieving information such as starters by year by team, it may
        appear that a team has fewer starters than one would think. This is most
        likely due to players being traded and therefore not showing up when
        searching by team.
      </li>
    </ul>
  </div>
  <div class="mb-3 p-3 border rounded-lg border-dark">
    <h3>Hitting Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      hitting:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all batters from years 2014-2018:
        <code>
          /api/batting
        </code>
      </li>
      <li class="list-group-item">
        Get individual batter stats from every year:
        <code>
          /api/batting/players/:name
        </code>
        <p>
          <strong>Note: </strong>Be sure to put a space in between the first and
          last name:
          <code>/api/batting/players/Mike Trout</code>
        </p>
      </li>
      <li class="list-group-item">
        Get batters by year:
        <code>
          /api/batting/:year
        </code>
      </li>
      <li class="list-group-item">
        Get individual batter by year:
        <code>
          /api/batting/:year/players/:name
        </code>
      </li>
      <li class="list-group-item">
        Get batters by team by year:
        <code>
          /api/batting/:year/teams/:team
        </code>
        <p>
          <strong>Note: </strong>This is just the team name, no city/state
          included: <code>/api/batting/2014/teams/Cubs</code>
        </p>
      </li>
    </ul>
  </div>
  <div class="mb-3 p-3 border rounded-lg border-dark">
    <h3>All Pitching Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      pitchers:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all pitchers from years 2014-2018:
        <code>
          /api/pitching/pitchers
        </code>
      </li>
      <li class="list-group-item">
        Get individual pitcher stats from every year:
        <code>
          /api/pitching/pitchers/players/:name
        </code>
        <p>
          <strong>Note: </strong>Be sure to put a space in between the first and
          last name:
          <code>/api/pitching/pitchers/players/Jon Lester</code>
        </p>
      </li>
      <li class="list-group-item">
        Get pitchers by year:
        <code>
          /api/pitching/pitchers/:year
        </code>
      </li>
      <li class="list-group-item">
        Get individual pitcher by year:
        <code>
          /api/pitching/pitchers/:year/players/:name
        </code>
      </li>
      <li class="list-group-item">
        Get pitchers by team by year:
        <code>
          /api/pitching/pitchers/:year/teams/:team
        </code>
        <p>
          <strong>Note: </strong>This is just the team name, no city/state
          included: <code>/api/pitching/pitchers/2014/teams/Cubs</code>
        </p>
      </li>
    </ul>
  </div>
  <div class="mb-3 p-3 border rounded-lg border-dark">
    <h3>Starting Pitching Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      starters:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all starters from years 2014-2018:
        <code>
          /api/pitching/starters
        </code>
      </li>
      <li class="list-group-item">
        Get individual starter stats from every year:
        <code>
          /api/pitching/starters/players/:name
        </code>
        <p>
          <strong>Note: </strong>Be sure to put a space in between the first and
          last name:
          <code>/api/pitching/starters/players/Jon Lester</code>
        </p>
      </li>
      <li class="list-group-item">
        Get starters by year:
        <code>
          /api/pitching/starters/:year
        </code>
      </li>
      <li class="list-group-item">
        Get individual starter by year:
        <code>
          /api/pitching/starters/:year/players/:name
        </code>
      </li>
      <li class="list-group-item">
        Get starters by team by year:
        <code>
          /api/pitching/starters/:year/teams/:team
        </code>
        <p>
          <strong>Note: </strong>This is just the team name, no city/state
          included: <code>/api/pitching/starters/2014/teams/Cubs</code>
        </p>
      </li>
    </ul>
  </div>
  <div class="mb-3 p-3 border rounded-lg border-dark">
    <h3>Relief Pitching Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      relievers:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all relievers from years 2014-2018:
        <code>
          /api/pitching/relievers
        </code>
      </li>
      <li class="list-group-item">
        Get individual reliever stats from every year:
        <code>
          /api/pitching/relievers/players/:name
        </code>
        <p>
          <strong>Note: </strong>Be sure to put a space in between the first and
          last name:
          <code>/api/pitching/relievers/players/Pedro Strop</code>
        </p>
      </li>
      <li class="list-group-item">
        Get relievers by year:
        <code>
          /api/pitching/relievers/:year
        </code>
      </li>
      <li class="list-group-item">
        Get individual reliever by year:
        <code>
          /api/pitching/relievers/:year/players/:name
        </code>
      </li>
      <li class="list-group-item">
        Get relievers by team by year:
        <code>
          /api/pitching/relievers/:year/teams/:team
        </code>
        <p>
          <strong>Note: </strong>This is just the team name, no city/state
          included: <code>/api/pitching/relievers/2014/teams/Cubs</code>
        </p>
      </li>
    </ul>
  </div>
</div>

<% include ./partials/footer %>
