<%- include('./partials/header') %>

<div class="container">
  <h1 class="display-4 text-center mb-2">
    API Usage
  </h1>
  <p class="text-center mb-3">
    The Github link for this project is
    <a href="https://github.com/darlose04/Fangraphs">here</a>.
  </p>
  <div class="mb-3 p-3 border rounded-lg border-dark">
    <h4>Go To</h4>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        <a href="#notes">Notes</a>
      </li>
      <li class="list-group-item">
        <a href="#playerhitting">Player Hitting Routes</a>
      </li>
      <li class="list-group-item">
        <a href="#playerstarting">Player Starting Pitching Routes</a>
      </li>
      <li class="list-group-item">
        <a href="#playerrelief">Player Relief Pitching Routes</a>
      </li>
      <li class="list-group-item">
        <a href="#teamhitting">Team Hitting Routes</a>
      </li>
      <li class="list-group-item">
        <a href="#teampitching">Team Pitching Routes</a>
      </li>
      <li class="list-group-item">
        <a href="#teamstarting">Team Starting Pitching Routes</a>
      </li>
      <li class="list-group-item">
        <a href="#teamrelief">Team Relief Pitching Routes</a>
      </li>
    </ul>
  </div>
  <div id="notes" class="mb-3 p-3 border rounded-lg border-dark">
    <h4>Notes</h4>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        All stats were downloaded from
        <a href="https://www.fangraphs.com/">Fangraphs</a> via custom made CSV
        tables.
      </li>
      <li class="list-group-item">
        Stats encompass 2002-2019.
      </li>
      <li class="list-group-item">
        Players that played for multiple teams within one season will have
        entries that detail stats for each team that player played for. So if a
        player played for two different teams, there will be two entries for
        that player, one for each team.
      </li>
    </ul>
  </div>
  <div id="playerhitting" class="mb-3 p-3 border rounded-lg border-dark">
    <h3>Player Hitting Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      player hitting statistics:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all batters stats (2002-2019):
        <code>
          /api/playerbatting
        </code>
        <p>
          <strong>Note: </strong> This returns an array of over 25,000 player
          objects, so it could take a while to retrieve the data.
        </p>
      </li>
      <li class="list-group-item">
        Get player batting stats by season:
        <code>
          /api/playerbatting/:season
        </code>
        <p>
          <strong>Example:</strong>
          <code>
            /api/playerbatting/2010
          </code>
        </p>
      </li>
      <li class="list-group-item">
        Get individual batter statistics:
        <code>
          /api/playerbatting/players/:name
        </code>
        <p>
          <strong>Note: </strong>When searching for individual players, put a
          space in between the first and last name.
          <code>/api/playerbatting/players/Mike Trout</code>
        </p>
      </li>
      <li class="list-group-item">
        Get batters by team:
        <code>
          /api/playerbatting/teams/:team
        </code>
        <p>
          <strong>Note: </strong>This is just the team name, no city/state
          included. Same rule for spaces applies.
          <code>/api/playerbatting/teams/Red Sox</code>
        </p>
      </li>
      <li class="list-group-item">
        Get batters by team by year:
        <code>
          /api/playerbatting/teams/:team/:season
        </code>
        <p>
          <strong>Example:</strong>
          <code>
            /api/playerbatting/teams/White Sox/2005
          </code>
        </p>
      </li>
    </ul>
  </div>
  <div id="playerstarting" class="mb-3 p-3 border rounded-lg border-dark">
    <h3>Player Starting Pitching Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      player starting pitching statistics:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all starting stats (2002-2019):
        <code>
          /api/playerstarting
        </code>
        <p>
          <strong>Note: </strong> This returns an array of over 5,000 player
          objects, so it could take a while to retrieve the data.
        </p>
      </li>
      <li class="list-group-item">
        Get starting stats by season:
        <code>
          /api/playerstarting/:season
        </code>
        <p>
          <strong>Example:</strong>
          <code>
            /api/playerstarting/2010
          </code>
        </p>
      </li>
      <li class="list-group-item">
        Get individual starter statistics:
        <code>
          /api/playerstarting/players/:name
        </code>
        <p>
          <strong>Note: </strong>When searching for individual players, put a
          space in between the first and last name.
          <code>/api/playerstarting/players/Jon Lester</code>
        </p>
      </li>
      <li class="list-group-item">
        Get starters by team:
        <code>
          /api/playerstarting/teams/:team
        </code>
        <p>
          <strong>Note: </strong>This is just the team name, no city/state
          included. Same rule for spaces applies.
          <code>/api/playerstarting/teams/Red Sox</code>
        </p>
      </li>
      <li class="list-group-item">
        Get starters by team by year:
        <code>
          /api/playerstarting/teams/:team/:season
        </code>
        <p>
          <strong>Example:</strong>
          <code>
            /api/playerstarting/teams/White Sox/2005
          </code>
        </p>
      </li>
    </ul>
  </div>
  <div id="playerrelief" class="mb-3 p-3 border rounded-lg border-dark">
    <h3>Player Relief Pitching Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      player relief pitching statistics:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all relief stats (2002-2019):
        <code>
          /api/playerrelieving
        </code>
        <p>
          <strong>Note: </strong> This returns an array of over 10,000 player
          objects, so it could take a while to retrieve the data.
        </p>
      </li>
      <li class="list-group-item">
        Get relief stats by season:
        <code>
          /api/playerrelieving/:season
        </code>
        <p>
          <strong>Example:</strong>
          <code>
            /api/playerrelieving/2010
          </code>
        </p>
      </li>
      <li class="list-group-item">
        Get individual reliever statistics:
        <code>
          /api/playerrelieving/players/:name
        </code>
        <p>
          <strong>Note: </strong>When searching for individual players, put a
          space in between the first and last name.
          <code>/api/playerrelieving/players/Aroldis Chapman</code>
        </p>
      </li>
      <li class="list-group-item">
        Get relievers by team:
        <code>
          /api/playerrelieving/teams/:team
        </code>
        <p>
          <strong>Note: </strong>This is just the team name, no city/state
          included. Same rule for spaces applies.
          <code>/api/playerrelieving/teams/Red Sox</code>
        </p>
      </li>
      <li class="list-group-item">
        Get relievers by team by year:
        <code>
          /api/playerrelieving/teams/:team/:season
        </code>
        <p>
          <strong>Example:</strong>
          <code>
            /api/playerrelieving/teams/White Sox/2005
          </code>
        </p>
      </li>
    </ul>
  </div>
  <div id="teamhitting" class="mb-3 p-3 border rounded-lg border-dark">
    <h3>Team Hitting Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      team hitting statistics:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all team stats (2002-2019):
        <code>
          /api/teambatting
        </code>
      </li>
      <li class="list-group-item">
        Get team batting stats by season:
        <code>
          /api/teambatting/:season
        </code>
        <p>
          <strong>Example:</strong>
          <code>
            /api/teambatting/2010
          </code>
        </p>
      </li>
      <li class="list-group-item">
        Get statistics by team (returns stats for one team for every season):
        <code>
          /api/teambatting/teams/:team
        </code>
        <p>
          <strong>Example: </strong>
          <code>/api/teambatting/teams/White Sox</code>
        </p>
      </li>
    </ul>
  </div>
  <div id="teampitching" class="mb-3 p-3 border rounded-lg border-dark">
    <h3>Team Pitching Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      team pitching statistics:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all team stats (2002-2019):
        <code>
          /api/teampitching
        </code>
      </li>
      <li class="list-group-item">
        Get team pitching stats by season:
        <code>
          /api/teampitching/:season
        </code>
        <p>
          <strong>Example:</strong>
          <code>
            /api/teampitching/2010
          </code>
        </p>
      </li>
      <li class="list-group-item">
        Get statistics by team (returns stats for one team for every season):
        <code>
          /api/teampitching/teams/:team
        </code>
        <p>
          <strong>Example: </strong>
          <code>/api/teampitching/teams/White Sox</code>
        </p>
      </li>
    </ul>
  </div>
  <div id="teamstarting" class="mb-3 p-3 border rounded-lg border-dark">
    <h3>Team Starting Pitching Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      team starting pitching statistics:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all team stats (2002-2019):
        <code>
          /api/teamstarting
        </code>
      </li>
      <li class="list-group-item">
        Get team starting pitching stats by season:
        <code>
          /api/teamstarting/:season
        </code>
        <p>
          <strong>Example:</strong>
          <code>
            /api/teamstarting/2010
          </code>
        </p>
      </li>
      <li class="list-group-item">
        Get statistics by team (returns stats for one team for every season):
        <code>
          /api/teamstarting/teams/:team
        </code>
        <p>
          <strong>Example: </strong>
          <code>/api/teamstarting/teams/White Sox</code>
        </p>
      </li>
    </ul>
  </div>
  <div id="teamrelief" class="mb-3 p-3 border rounded-lg border-dark">
    <h3>Team Relief Pitching Routes</h3>
    <p>
      Using GET requests, you can access the information at these routes for
      team relief pitching statistics:
    </p>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item">
        Get all team stats (2002-2019):
        <code>
          /api/teamrelieving
        </code>
      </li>
      <li class="list-group-item">
        Get team relief pitching stats by season:
        <code>
          /api/teamrelieving/:season
        </code>
        <p>
          <strong>Example:</strong>
          <code>
            /api/teamrelieving/2010
          </code>
        </p>
      </li>
      <li class="list-group-item">
        Get statistics by team (returns stats for one team for every season):
        <code>
          /api/teamrelieving/teams/:team
        </code>
        <p>
          <strong>Example: </strong>
          <code>/api/teamrelieving/teams/White Sox</code>
        </p>
      </li>
    </ul>
  </div>
</div>

<%- include('./partials/footer') %>
